/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

/* Contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.description {
    text-align: left;
    margin-bottom: 30px;
}

/* Encabezado */
.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 30px;
    color: #333;
    margin: 0;
}

.header p {
    font-size: 16px;
    margin-top: 10px;
    color: #666;
}

/* Sección de información personal */
.personal-info {
    margin-bottom: 10px;
}

.personal-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.personal-info p {
    font-size: 16px;
    margin: 0;
    color: #666;
}

.toggle-button {
    color: #007bff;
    font-size: 18px;
    vertical-align: center;
}

.toggle-button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.margen-izquierdo {
    color: #666565 !important;
    margin-left: 20px !important;
    margin-bottom: 20px !important;
}

.experienceClass {
    display: none;
}

.educationClass {
    display: none;
}

.educationCCClass {
    display: none;
}

.educationSCClass {
    display: none;
}

.educationCertificacionClass {
    display: none;
}

.projectsClass {
    display: none;
}

.info-content {
    display: none;
}

.show {
    display: block;
}

/* Estilos de enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

/* Estilos de iconos */
.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

/* Estilos de redes sociales */
.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin-right: 10px;
}

/* Experiencia laboral */
.experience {
    margin-bottom: 10px;
}

.experience h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.experience ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.experience li {
    margin-bottom: 25px;
}

.experience p {
    margin: 2px;
}

.experience li .job-title {
    font-weight: bold;
    color: #333;
}

.experience li .company {
    color: #666;
}

.experience li .dates {
    color: #999;
}

/* Educación y formación */
.education {
    margin-bottom: 10px;
}

.education h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.education ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.education li {
    margin-bottom: 15px;
}

.education p {
    margin: 2px;
}

.education li .degree {
    font-weight: bold;
    color: #333;
}

.education li .institution {
    color: #666;
}

.education li .dates {
    color: #999;
}

/* Proyectos */
.projects {
    margin-bottom: 10px;
}

.projects h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.projects ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.projects p {
    margin: 2px;
}

.projects li {
    margin-bottom: 15px;
}

.projects li .degree {
    font-weight: bold;
    color: #333;
}

.projects li .institution {
    color: #666;
}

.projects li .dates {
    color: #999;
}